<div class="row-padding">
  <div class="two columns" style="margin-top: 0%; margin-left: 3%">
    <label style="font-size: small">User ID</label>
    <input type="text" readonly [(ngModel)]="usid" />
  </div>
  <div class="two columns" style="margin-left: 5%">
    <label style="font-size: small">User Name</label>
    <input type="text" readonly [(ngModel)]="usname" />
  </div>
  <div class="three columns" style="margin-top: 1%">
    <label for="facility">Facility</label>
    <select
      id="facility"
      name="facility"
      class="dropdown"
      soho-dropdown
      soho-busyindicator
      blockUI="true"
      displayDelay="0"
    >
      <option *ngFor="let item of arr">{{ item }}</option>
    </select>
  </div>
  <div class="row">
    <select name="" id="">
      <option value="">AA</option>
      <option value="">BB</option>
    </select>
  </div>
</div>
