#row1 {
  background-color: yellow;
}
#primary-action-two {
  background-color: #2596be;
  color: rgb(85, 85, 85);
  border-color: #2596be;
  width: 60%;
  border-width: 1px;
  margin-bottom: 20%;
  padding: 1%;
  color: white;
  font-weight: lighter;
}
#reclassify-button {
  background-color: white;
  color: rgb(85, 85, 85);
  border-color: rgb(85, 85, 85);
  width: 60%;
  border-width: 1px;
  padding: 1%;
  font-weight: lighter;
  margin-bottom: 20%;
}
body {
  background-color: rgba(240, 240, 240, 255);
  zoom: 100%;
  max-zoom: 100%;
  min-zoom: 50%;
}

#dropScreen {
  width: 100%;
  padding: 2.5%;
  background-color: rgba(240, 240, 240, 255);
  border: 1px solid rgb(151, 151, 151);
}

#dropScreen:hover {
  border: 1px solid black;
}
